*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}
header{
    font-weight: 400;
    padding-top: 3em;
    background-color: #0d6efd;
    color: white;
    margin-bottom: 1em;
}
h1{
    text-align: center;
}
.btn-dark{
    margin: 1em;
}
h4{
    padding: 1em;
    color: #0d6efd;
    text-align: center;
}
.seccion.principal{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #0d6efd;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
}

p {
    color: #0d6efd;
    text-align: center;
    font-size: 18px;
}
footer p{
    font-size: 9px;
}
h2 {
    color: #0d6efd;
    text-align: center;
}

footer {
    font-size: 10px;
    text-align: center;
}
h2{
    margin: 1em;
}

#logo_xiaomi{
    height: 150px;
}
#logo_samsung{
    width: 200px;
    height: 35px;
}
#logo_apple{
    height: 100px;
}
.card{
    margin: 1em;
}
.card-title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #0d6efd; 
}
.card-body{
    text-align: center;
}
.card-img-top{
    max-width: 100%;
    max-height: 250px;
}
.alert{
    margin-top: 1em;
}