body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.seccion.principal,h1 {
    text-align: center;
    color: green
}
img{
    width: 500px;
    height: auto;
}
p{
    text-align: center;
    color: white
}
ul li, h3{
    color: white;
    text-align: center;
    list-style-type: none;
}
footer{
    font-size: 8px;

}